amadeus==3.2.0
asn1crypto==1.2.0
astroid==2.2.5
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==2.8
dataclasses==0.6
dataclasses-serialization==1.2.3
Flask==1.1.1
idna==2.8
isort==4.3.18
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.0
MarkupSafe==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
pycparser==2.19
pylint==2.3.1
pyOpenSSL==19.0.0
PySocks==1.7.1
requests==2.22.0
six==1.12.0
toolz==0.10.0
typed-ast==1.3.5
typing-extensions==3.7.4.1
typing-inspect==0.5.0
urllib3==1.24.2
Werkzeug==0.16.0
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.1
